nav {
	padding-top: 2rem;
	padding-bottom: 2rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid #efefef;
	.links {
		float: right;
	}
	.beta {
		margin-top: 1rem;
		color: rgb(249, 42, 154);
	}
	.logo {
		color: #777;
		text-decoration: none;
		font-size: 3rem;
		font-weight: 300;
		.with {
			color: rgb(10, 208, 190);
		}
	}
}
