include ../mixins/index.pug

doctype
html(lang='en')
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title= page.title || 'Pay With Coin'
		block styles
			link(rel="stylesheet" href="/css/stylesheet.css")
	body
		block nav
			.container
				nav
					.beta: p ALPHA
					a(href='/').logo Pay<span class="with">With</span>Coin
					a(href='/stores') Store list
				
		block header
			
		block main
			
		block footer
			footer
				.container
					.row
						.four.columns
							h4 Contact:
					
						.four.columns
							h4 Contribute:
							a(href='/submit'): button Submit a store
							a(href='https://github.com/mrprkr/paywithcoin.info/' target='_blank')
								button
									//- img(src='/images/site/github.png' height='32') 
									span Fork on GitHub
						.four.columns
							h4 Donate:
							p Your dontations support the maintenance and running costs of this site, every 0.0...1 of coin helps.
							ul
								li BTC: Bitcoin address
								li LTC: Litecoin address
								li ETH: Ethereum address
								li XRP: Ripple address

		block js
