include ../mixins/index.pug

doctype
html(lang='en')
	head
		meta(charset="utf-8")
		title= page.title || 'Pay with coin'
		block styles
			link(rel="stylesheet" href="/css/stylesheet.css")
	body
		block nav
			.container
				nav
					a(href='/'): h2 PayWithCoin
				
		block header
			
		block main
			
		block footer
			footer
				.container
					.row
						.four.columns
							h4 Contact:
					
						.four.columns
							h4 Contribute:
							a(href='https://github.com/mrprkr/paywithcoin.info/' target='_blank')
								button
									img(src='/images/site/github.png' height='32') 
									span GitHub
						.four.columns
							h4 Donate:
							p Your dontations support the maintenance and running costs of this site, every 0.001... of coin helps.
							ul
								li BTC: Bitcoin address
								li LTC: Litecoin address
								li ETH: Ethereum address
								li XRP: Ripple address

		block js
